# Binaries & Bundles
CraftOrbit.exe
*.blob
dist-bundle.js

# Dependencies
node_modules/

# Logs & Temporary Files
*.log
logs/
.mixin.out/
crash-reports/

# Hosted Server Data (Worlds, Jars, Runtime files)
hosted-servers/
servers/
backups/

# User Secrets & Configuration
.env
playit-config.json
playit.toml
.ngodingpakeai/

dashboard-config.json
